<div class="user_container">
  <div class="user_info">
    <div class="user_nickname">
      <%= @user.nickname %>
    </div>
    <div class="user_image">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: :user__image %>
      <% else %>
        <%= image_tag ("default.png"), class: :user__image %>
      <% end %>
    </div>
  </div>
  <div class="user_profile">
    <p class="profile">プロフィール</p>
    <%= @user.profile %>
  </div>
</div>
<% if user_signed_in? && @user.nickname == current_user.nickname %>
  <div class="user__manage">
    <%= link_to "編集する", edit_user_path, class: :user__btn %>
  </div>
<% end %>