<% if user_signed_in? %>
  <input name="current_user_coin" type="hidden" value="<%= current_user.coin %>" class="current_user_coin" >
  <table id="table">
    <tr>
      <td><%= image_tag "red.png", class:"comCard" %></td>
      <td><%= image_tag "red.png", class:"comCard" %></td>
      <td><%= image_tag "red.png", class:"comCard" %></td>
      <td><%= image_tag "red.png", class:"comCard" %></td>
      <td><%= image_tag "red.png", class:"comCard" %></td>
      <td><%= image_tag "red.png", class:"comCard" %></td>
      <td><%= image_tag "red.png", class:"comCard" %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <%= button_tag "Hit", id:"hit", class: :button %><br>
        <%= button_tag "Stand", id:"stand", class: :button %><br>
        <%= button_tag "Surrender", id:"surrender", class: :button %>
      </td>
      <td>
        <%= image_tag "red.png", id:"cards" %>
        <div id="myTotal" class="total"></div>
        <div id="comTotal" class="total"></div>
      </td>
      <td>
        <div>
          <input type="number" min="1" max="<%= current_user.coin %>" step="1" id="betCoin" style="width:90px" value="10">
        </div>
        <%= button_tag "Start", id:"start", class: :button %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= image_tag "red.png", class:"myCard" %></td>
      <td><%= image_tag "red.png", class:"myCard" %></td>
      <td><%= image_tag "red.png", class:"myCard" %></td>
      <td><%= image_tag "red.png", class:"myCard" %></td>
      <td><%= image_tag "red.png", class:"myCard" %></td>
      <td><%= image_tag "red.png", class:"myCard" %></td>
      <td><%= image_tag "red.png", class:"myCard" %></td>
    </tr>
  </table>
<% end %>