<table id="table">
  <tr>
    <td><%= image_tag "red.png", class:"comCard" %></td>
    <td><%= image_tag "red.png", class:"comCard" %></td>
    <td><%= image_tag "red.png", class:"comCard" %></td>
    <td><%= image_tag "red.png", class:"comCard" %></td>
    <td><%= image_tag "red.png", class:"comCard" %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= button_tag "カードを引く", id:"pick" %><br><%= button_tag "勝負する！", id:"judge" %></td>
    <td>
      <%= image_tag "blue.png", id:"cards", alt:"" %>
      <div id="myTotal" class="total"></div>
      <div id="comTotal" class="total"></div>
    </td>
    <td><%= button_tag "もう一回遊ぶ", id:"reset" %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= image_tag "blue.png", class:"myCard" %></td>
    <td><%= image_tag "blue.png", class:"myCard" %></td>
    <td><%= image_tag "blue.png", class:"myCard" %></td>
    <td><%= image_tag "blue.png", class:"myCard" %></td>
    <td><%= image_tag "blue.png", class:"myCard" %></td>
  </tr>
</table>